Flask==0.12.2
Flask-Cors==3.0.2
flask-paginate>=0.5.1
gensim==3.1.0
h5py==2.7.0
html5lib==0.999
Jinja2==2.10
joblib==0.11
matplotlib==2.0.2
metapy==0.2.8
nltk==3.2.3
numpy==1.12.1
pandas==0.20.1
pathlib2==2.2.1
pickleshare==0.7.4
pyLDAvis==2.1.1
pytoml==0.1.14
requests==2.14.2
scikit-learn==0.18.1
scipy==0.19.0
simplejson==3.11.1
snowballstemmer==1.2.1
Werkzeug==0.12.2
unicodecsv==0.14.1
Unidecode==0.4.21
WTForms==2.1